/**
* Main CSS for Portfolio sub-pages
* Author: Anton Brink - Saborknight;
**/
/**
* Contact
**/
.contact {
	position: fixed;
	top: -2px;
	right: -2px;
	background-color: #323338;
	border-radius: 4px;
	z-index: 100;
	transition: all 0.3s ease 0s;
}
.contact a {
	text-decoration: none;
}
.contact p {
	text-align: right;
	color: #fff;
	font-size: 14pt;
	padding: 0.2em 0.6em;
	margin: 0;
	transition: all 0.3s ease 0s;
}
.contact:hover, .contact:focus {
	background-color: #3E3F44;
}
.contact:hover p, .contact:focus p {
	padding: 0.2em 0.6em 0.6em 2em;
}
.contact p:before {
	content: '\f108';
	text-align: center;
	/*font: normal 28px/1 'Genericons';*/
	font-family: 'Genericons';
	display: inline-block;
	margin-right: 0.4em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**
* Header
**/
.homepage #header {
	padding: 2.5em 0em;
}

/**
* Content
	height: 675px;
	width: 100%;
**/
.application-form {
	position: relative;
	padding: 25px 0 56.25% 0;
	height: 0;
}
.application-form iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.photo-container {
	position: relative;
	top: 0;
	left: 0;
	box-shadow: 0 0 0 1200px rgba(0, 0, 0, 0.5) inset;
}
.photo-screen {
	height: auto;
	width: 100%;
}
.photo-cta {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1000px;
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	-webkit-box-shadow: inset -1px 350px 90px -18px rgba(0,0,0,0.7);
	-moz-box-shadow: inset -1px 350px 90px -18px rgba(0,0,0,0.7);
	box-shadow: inset -1px 350px 90px -18px rgba(0,0,0,0.7);
	padding: 1em;
	text-align: center;
	transition: all 0.5s ease-in 0s;
}
a:hover .photo-cta, a:focus .photo-cta {
	box-shadow: none;
}
article {
	position: relative;
	left: 0;
	top: 0;
}
article img {
	height: auto;
	width: 33%;
	// height: 13rem;
	// width: auto;
}
article a {
	width: 100%;
	text-decoration: none;
	color: #000;
}
hr {
	height: 1px;
	border: 0;
	margin: 0.8em 0;
	background: -moz-radial-gradient(top, ellipse cover,  rgba(186,186,186,1) 0%, rgba(66,66,66,0) 76%, rgba(28,28,28,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(0%,rgba(186,186,186,1)), color-stop(76%,rgba(66,66,66,0)), color-stop(100%,rgba(28,28,28,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(top, ellipse cover,  rgba(186,186,186,1) 0%,rgba(66,66,66,0) 76%,rgba(28,28,28,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(top, ellipse cover,  rgba(186,186,186,1) 0%,rgba(66,66,66,0) 76%,rgba(28,28,28,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(top, ellipse cover,  rgba(186,186,186,1) 0%,rgba(66,66,66,0) 76%,rgba(28,28,28,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at top,  rgba(186,186,186,1) 0%,rgba(66,66,66,0) 76%,rgba(28,28,28,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#001c1c1c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
p {
	color: #000;
	margin-bottom: 0.5em;
}
h1 {
	margin-bottom: 0.4em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #8E8588;
}
.clearfix {
	clear: both;
}
.container a .content-text {
	float: left;
	text-align: left;
}
.container a:nth-of-type(even) .content-text {
	float: right;
	text-align: right;
}
.container a img {
	float: right;
}
.container a:nth-of-type(even) img {
	float: left;
}
.features {
	position: absolute;
	bottom: 0;
	left: 0;
}
.container a:nth-of-type(even) .features{
	right: 0;
}
.features mark {
	padding: 0.05em 0.6em;
	font-size: 0.9em;
	background-color: #91360F;
	color: #EC9874;
	border-radius: 3px;
	border: 2px solid #EC9874;
}
.yes-mobile {
	display: none;
}
.contact-form .form-group {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-bottom: 1rem;
}
.contact-form hr {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#424242+0,bababa+4,424242+76,1c1c1c+100&0+0,1+4,0+100 */
background: -moz-linear-gradient(left,  rgba(66,66,66,0) 0%, rgba(186,186,186,1) 4%, rgba(66,66,66,0.25) 76%, rgba(28,28,28,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(66,66,66,0) 0%,rgba(186,186,186,1) 4%,rgba(66,66,66,0.25) 76%,rgba(28,28,28,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(66,66,66,0) 0%,rgba(186,186,186,1) 4%,rgba(66,66,66,0.25) 76%,rgba(28,28,28,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00424242', endColorstr='#001c1c1c',GradientType=1 ); /* IE6-9 */
}
.contact-form label {
	display: inline-block;
	margin-bottom: .5rem;
}
.contact-form textarea {
	resize: vertical;
	font: inherit;
}
.contact-form input, .contact-form textarea {
	margin: 0;
	line-height: inherit;
	border-radius: 0;
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: .25rem;
}
.contact-form input:focus, .contact-form textarea:focus {
	border-color: #66afe9;
	outline: 0;
}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.contact-form button {
	display: inline-block;
	padding: .375rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.contact-form button.submit {
	color: #fff;
	background-color: #0275d8;
	border-color: #0275d8;
}
.contact-form button.submit:hover, .contact-form button.submit:focus {
	color: #fff;
	background-color: #014682;
	border-color: #01315a;
}
.contact-form button.submit:active:focus, .contact-form button.submit:focus
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.contact-form button.submit:active {
	background-image: none;
	outline: 0;
}
.alert {
	padding: 15px;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.alert strong {
	color: inherit;
}
.error-alert {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebcccc;
}
.success-alert {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d0e9c6;
}

/**
* Footer
**/
header h2 {
	font-weight: 100;
}
header.section3 h2:before {
	content: '\f082';
	text-align: center;
	font: normal 28px/1 'Fontawesome';
	display: inline-block;
	margin-right: 0.4em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header.section2 h2:before {
	content: '\f132';
	text-align: center;
	font: normal 28px/1 'Fontawesome';
	display: inline-block;
	margin-right: 0.4em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header.section1 h2:before {
	content: '\f1b6';
	text-align: center;
	font: normal 28px/1 'Fontawesome';
	display: inline-block;
	margin-right: 0.4em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.custom-row > * {
	width: 33%;
	float: left;
	padding: 0 0 0 1em;
}
.custom-row {
	width: 100%;
	display: flex;
	justify-content: center;
}
.style3 li:last-of-type p {
	color: #8A8A8A;
}

.fullwidth {
	width: 100%;
}
